body {
    background-color: #15081E; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

#container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center; 
    align-items: center; 
    border: 2px solid white;
    
}
#player-paragraph,
#info-display {
    text-align: center; 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    background-color: #f2f2f2; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -5;
}


path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 10;
}
.square:hover svg {
    transform: scale(1.1);
}

.dark {
    background-color: #ECD4EA;
}

.light {
    background-color: #693B69;
}

.black {
    fill: #000
}

.white {
    fill: #FCFCFD;
}